.wapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.reload_div{
  width: 50%;
}

.reload_div2{
  width: 25%;
  display: flex;
  align-items: center;
  margin: auto;
}

.reload_container{
  width: 100%;
  height: 80%;
  text-align: center;
}

.reload{
  text-align: center;
  width: 20%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.scroll {
  display: flex;
  flex-direction: column;
  flex: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.elements {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2px 0;
}

.element-container {
  position: relative;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgb(133, 0, 0);
  box-sizing: border-box;
}

.element {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.image-field {
  position: relative;
  width: 160px;
  margin-left: 8px;
}

.image-field-container {
  width: 100%;
  height: 100%;
}

.image-thubnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.infomation-field {
  flex-wrap: wrap;
  align-content: space-between;
  flex: 10px;
  position: relative;
  padding-bottom: 1px;
  margin: 0 10px 0 8px;
}

.name {
  font-size: 15px;
  font-weight: bold;
  max-width: 240px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  width: 100%;
  height: 40px;
  line-height: 20px;
  max-width: 190px;
  overflow: hidden;
  font-weight: bold;
  word-break: break-all;
}

.game-title {
  font-size: 14px;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login1 {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(172, 172, 172);
}

.login2 {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(172, 172, 172);
}

button {
  position: absolute;
  display: block;
  width: 25%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}